@charset "UTF-8";

.navbar-brand{
	color: white;
	font-family: "ABeeZeeRegular";
	font-size: 36pt;
	
}
@font-face {
  font-family: "ABeeZeeRegular";
  font-weight: regular;
  src: url('images/ABeeZee-Regular.otf') format('truetype');
}

 .navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px;
}

#topics{
	border-bottom: 1px solid black;
}

#pagetitle{
	font-family: "ABeeZeeRegular";
	font-size: 30pt;
	padding: 10px;
	padding-top: 30px;
}

img{
	border-radius: 10px;
}